.header-box {
  background-color: #1a56db;
  height: 70px;
  display: flex;

  justify-content: space-between;

  color: white;
  letter-spacing: 4px;
}
.user-box {
  margin: 1rem;

  background-color: gray;
  width: 40px;
  border-radius: 100px;
}
.header-left {
  display: flex;
  height: auto;

  letter-spacing: 4px;
  font-weight: bold;
  gap: 6rem;
}
.site-logo {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.header-links {
  font-size: larger;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.menu-icon {
  align-items: center;
  display: none;
}
